# 도서관 정보나루 (https://www.data4library.kr 마이페이지 > 인증키 정보)
DATA4LIBRARY_KEY=
# 카카오 책 검색 (https://developers.kakao.com > 내 애플리케이션 > 앱 키 > REST API 키)
KAKAO_REST_KEY=
# 네이버 책 검색 (https://developers.naver.com > Application > 애플리케이션 등록, 사용 API: 검색)
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
# 국립중앙도서관 ISBN 서지정보 (https://www.nl.go.kr/NL/contents/N31101030500.do 또는 공공데이터포털)
NL_CERT_KEY=
# 예스24 Open API (https://developers.yes24.com > API 이용 관리). 서버에서만 사용
YES24_API_KEY=

# Google Stitch (stitch.withgoogle.com > 프로필 > Stitch settings > API key)
STITCH_API_KEY=
